<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059097103462-4tdr7na7t3bub6m7of2k4ji03trrmvue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059097103462-4tdr7na7t3bub6m7of2k4ji03trrmvue</string>
	<key>API_KEY</key>
	<string>AIzaSyAdW9C8eSY5GPuS7Kn9fq0cRppqCXw_Ig0</string>
	<key>GCM_SENDER_ID</key>
	<string>1059097103462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingApp3</string>
	<key>PROJECT_ID</key>
	<string>online-shop-3177c</string>
	<key>STORAGE_BUCKET</key>
	<string>online-shop-3177c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059097103462:ios:770e953ca9a6869a02f1a7</string>
</dict>
</plist>